<p><%= @user.name %>さん、こんにちは。HabitRestepsです。</p>

<p>最近、習慣のチェックができていないようです。<br>
でも大丈夫。いつ再開しても遅くはありません。</p>

<p>どんなに間が空いても、また踏み出せます。<br>
小さな一歩から、また始めてみませんか？</p>

<p><a href="<%= home_url %>">今日の習慣をチェックする</a></p>

<p>習慣が途切れても、あなたの努力は消えていません。<br>
また一緒に続けていきましょう。</p>

<p>HabitResteps</p>
